@media (max-width: 768px) {
  .container,
  .edit-comment-container,
  .delete-thread-container,
  .delete-comment-container,
  .new-thread-container,
  .new-comment-container {
    width: 95%;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .container,
  .form-container {
    width: 95%;
  }

  input,
  textarea,
  select {
    max-width: 100%; /* Gör dem mindre på små skärmar */
  }
}
